<div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="code-img" src="assets/img/code.png" alt="">

      <h3>Software Engeneer</h3>
      <p class="skill-description">I am a passionate Java Developer who constantly seeks out innovative solutions to everyday problems. I like to keep it simple. </p>
    </div>
    <div class="skill-row">
      <img class="data-img" src="assets/img/web-analytics.png" alt="">
      <h3>Data Analysis</h3>
      <p class="skill-description">I am passionate about data science. My good analytical thinking and detail oriented ability make me a strong problem solver in analyzing complex datasets and extracting actionable insights.</p>
    </div>
  </div>
